$Opaco: rgba(0, 0, 0, 0.589);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik",sans-serif;
}
.bg-body-tertiary2{
    background-color: rgb(33, 33, 173);
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.banner{
    max-width: 2000px;
    max-height: 450px;
    width: 100%;
    height: 100%;
}
.TituloAlumnos{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    font-size: 35px;
}
.Muestra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    gap: 10px;
    margin: 15px;
}
.ImgAlumnosMuestra{
    max-width: 550px;
    width: 100%;
    height: 100%;
    max-height: 230px;
    border: 2px solid rgb(71, 71, 216);
}
.Viaje{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}
.ImgAlumnosViaje{
    max-width: 550px; 
    max-height: 400px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(71, 71, 216);
}
.DivIndex{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.InfoIndex1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.Logo{
    max-width: 420px;
    max-height: 520px;
    width: 100%;
    height: 100%;
}
.TituloIndex{
    font-size: 30px;
    font-weight: bold;
}
.InfoOrientaciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
    flex-direction: row;
    margin-top: 20px;
    margin: 10px;
}
.ImgEgresados{
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid blue;
}
.ParrafoIndex{
    max-height: 250px;
    max-width: 600px;
    width: 100%;
    height: 100%;
    font-size: 21px;
    text-align: justify;
}
.InfoInformatica{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 2px solid brown;
    border-radius: 10px;

}
.InfoProgramacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 2px solid brown;
    border-radius: 10px;
}
.TituloOrientaciones{
    font-size: 26px;
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}
.ImgIndex{
    display: flex;
    justify-content: center;
}
.BtnInscripcion{
    border: 2px solid brown;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold
}
.footer{
    background-color: rgb(53, 53, 110);
    margin-top: 15px;
}
.ImgFooter{
    max-width: 50px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 10px;
}
.InfoFooter{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.TextosFooter{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.TituloFooter{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    text-decoration: underline;
}
.Redesfooter{
    display: flex;
    justify-content: center;
}
.ImgTFooter{
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    display: flex;
}
.containerIn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 10px;
    border: 3px solid brown;
    border-radius: 10px;
}
.InfoIn{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    padding-left: 80px;
}
.TituloIn{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.Formulario{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.buttonIn{
    max-width: 200px;
    margin: 10px;
}
.labelIn{
    border: 2px solid blue;
    border-radius: 10px;
}
.TituloI{
    display: flex;
    justify-content: center;
}
.ContainerBa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
.TituloBa{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.ModulosSemBa{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: $Opaco;
}
.Titulo1Ba{
    display: flex;
    justify-content: center;
    border: 5px solid rgba(21, 147, 197, 0.158);
    border-radius: 10px;
}
.MateriasBa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 350px;
    height: 100%;
    font-size: 20px;
}
.TitulosBa{
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline #1593c552;
}
.MateriasTBa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.DivBa{
    border: 5px solid rgba(21, 147, 197, 0.158);
    padding: 15px;
}
.MateriasSu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.ContainerSu1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
.TituloSu{
    display: flex;
    justify-content: center;
}
.ParrafoH{
    max-width: 900px;
    width: 100%;
    height: 100%;
    font-size: 21px;
    padding: 20px;
}
.DivH{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DivH2{
    border: 3px solid brown;
    border-radius: 10px;
}